/* HTML element */
body {
	/* TODO: ... */
	background-color: #e6e4e6;
	font-family: "PT Sans", Sans-serif;
	padding-top: 300px;
	margin: auto;
}

tbody {
	font-weight: bolder;
	font-size: 9.5px;
}

table {
	table-layout: fixed;
}

tr > td {
	width: 50%;
}

hr.blue-top {
	height: .25rem;
  	width: 100%;
  	margin: 0;
  	background: #40c4ff;
  	border: none;
}

/* class */

.container {
	background-color: #e6e4e6;
	width: 100%;
}

.navbar-fixed-top > .container {
	background-color: white;
}

.row {
	min-height: 20%;
}

.panel-group {
	padding: 5%;
}

.wrapper {
	padding: 5%;
}

.name {
	font-weight: bolder;
	font-size: 15px;
}

.text-muted {
	font-size: 11px;
}

.list-marker {
	width: 10px;
	text-align: center;
}

.horizontal > div > div > div > p {
	padding: 2%;
}

.panel-title-cust {
	color: #636163;
	font-size: 20px;
	font-weight: lighter;
}

.panel-heading {
	padding-top: 0px;
	padding-left: 20px;
}

.underline {
	height: .25rem;
	width: 10%;
	margin: 0;
	background: #40c4ff;
	border: none;
}

.avoid-click {
	pointer-events: none;
}

.navbar-brand > img {
	height: 200%; 
	position: relative; 
	top: -10px
}

/* id */

#map {
	height: 200px;
	width: 100%;
}

#navbar-ppil > ul > li > a {
	text-transform: uppercase;
	color: #9c9da0;
	font-weight: bolder;
}

#mode {
	padding: 0;
	width: 100%;
}

#mode > li {
	display: inline;
	text-align: center;
}
#mode > li > i {
	display: inline-block;
	width: 10%;
	padding: .75rem 0;
	margin: 0;
	text-decoration: none;
	color: #030303;
}

#about-heading {
	position: relative;
	top: 10%;
}

#pm {
	text-align: center;
}

#fintech-redirect {
	color: white;
	text-decoration: normal;
}

/* Mobile-first */

@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

}

@media only screen and (min-width: 500px) {
	.container {
		background-color: #e6e4e6;
		width: 90%;
	}

	#map {
		height: 300px;
		width: 100%;
	}

}

@media only screen and (min-width: 770px) {
	.container {
		background-color: #e6e4e6;
		width: 80%;
	}

	#map {
		height: 450px;
		width: 100%;
	}

}
