body {
	/* TODO: ... */
	background-color: #e6e4e6;
	font-family: "PT Sans", Sans-serif;
	padding-top: 300px;
	padding-left: 10%;
	padding-right: 10%;

}

.container {
	background-color: #e6e4e6;
}

.navbar-fixed-top > .container {
	background-color: white;
}

.b-1 {
	outline: thin dashed red;
}

.b-2 {
	outline: thin dotted green;
}

.row {
	min-height: 20%;
}

.panel-group {
	padding: 5%;
}

#map {
	height: 100%;
}

table {
	table-layout: fixed;
}

tr > td {
	width: 50%;
}

@media(min-width:767px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

}

div.horizontal {
    height: 100%;
    overflow: auto;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
}

article {
    width: 200px;
    height: 200px;
    display: table-cell;
    background: #e3e3e3;
    vertical-align: middle;
    text-align: center;
s}

article:nth-child(2n+2)
{
    background: #d1d1d1;
}

#navbar-ppil > ul > li > a {
	text-transform: uppercase;
	color: #9c9da0;
	font-weight: bold;
}

.panel-title-cust {
	color: #a3a1a3;
	font-size: 20px;
	font-weight: 100;
}

.panel-heading {
	padding-top: 0px;
	padding-left: 20px;
}

hr.blue-top {
	height: .25rem;
  	width: 100%;
  	margin: 0;
  	background: #40c4ff;
  	border: none;
}

.thumbnail {
	height: 200px;
}

#mode > li {
	display: inline;
	text-align: center;
}
#mode > li > i {
	display: inline-block;
	width: 25%;
	padding: .75rem 0;
	margin: 0;
	text-decoration: none;
	color: #030303;
}

.underline {
	height: .25rem;
	width: 25%;
	margin: 0;
	background: #40c4ff;
	border: none;
}

.avoid-click {
	pointer-events: none;
}